#form-login{
    padding-top: 10px;
    width: 60%;
    margin-left: 20%;
}
#container{
    width: 1000px;
    height: 500px;
    margin: 0px auto;
    background-color: blueviolet
}
.text_lable{
    color: white;
}
.title_login{
    text-align: center;
    padding-top: 100px;
}
.link_type{
    font-size: 14px;
    color: white;
    cursor: pointer;
}