
<div id="container">
    <h3 class="text_lable title_login">LogIn</h3>
       <div id="form-login">
         <form (submit)="submitRegister(formRegister)" #formRegister="ngForm">
           <div class="form-group">
             <label class="text_lable" for="email">Email address:</label>
             <input type="email" ngModel #txt_email="ngModel" class="form-control" name="email" id="email" required>
             <p *ngIf="txt_email.errors?.required" class="error-text">Email không được để trống</p>
           </div>
           <div class="form-group">
             <label class="text_lable" for="pwd">Password:</label>
             <input type="password" ngModel #txt_pwd="ngModel" class="form-control" name="pwd" id="pwd" required>
             <p *ngIf="txt_pwd.errors?.required" class="error-text">Password không được để trống</p>
           </div>
           <div class="form-group">
              <label class="text_lable" for="repwd">Re-Password:</label>
              <input type="password" ngModel #txt_repwd="ngModel" class="form-control" name="repwd" id="repwd" required>
              <p *ngIf="txt_repwd.errors?.required" class="error-text">Re-Password không được để trống</p>
            </div>
           <button [disabled]="formRegister.invalid" class="btn btn-default">Submit</button>
       </form>
     </div>
   </div>
      